
.logo img{
    position: relative; top: 40px; left: 20px; z-index: 2;
    height: 60px;;
}
.menu-items{
    float: right;
}
.menu-items img{
    padding-left: 30px;
    height: 35px;
}
#myCarousel{
    position: absolute; top: 0px; left: 0px; z-index: 0;
    width: 100%;
    height: 100%;
}
.carousel-inner > .item > img {
    min-width: 100%;
}
.menu-icons img{
    height: 26px;
    float: right;
    padding-left: 14px;
    position: relative; top: 7px;
}
.big-menu-items a{
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    font-size: 14em;
    color: white;
    line-height: 1.1;
    padding-left: 135px;
}
.big-menu-items a:hover{
    color:#75d1f7;
    text-decoration: none;
}